:root {
    --main:rgb(17, 17, 17);
    --main2: rgb(51, 160, 78);
    --storke: var(--border) solid var(--main);
    --border: 2px;
}
* {
    color: var(--main);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
    font-weight:500;
    background-color: var(--main2);
}
body .main-title {
    font-weight: 200;
    position: fixed;
    top: -5rem;
    left: -7rem;
    letter-spacing:-0.2rem;
    line-height: 15rem;
    font-size: 20rem;
    color:var(--main);
    z-index: -1;
    white-space:nowrap;
}
.wrapper {
    margin: 15rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    gap: 2rem;
}
.wrapper li {
    font-weight:400;
    list-style: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color:rgb(63, 63, 63);
    border: none;
    height: 15rem;
    border: var(--storke);
    background-color: var(--main2);
}
.add-box, .icon, .bottom-content, .settings .menu li, header, .popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-box {
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.add-box .icon, .popup-box {
    border: var(--storke);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    color:var(--main);
}
.add-box p {
    margin-top: 0.5rem;
}
.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color:var(--main);
}
.note .bottom-content {
    border-top: var(--border) solid var(--main);
}
.note .bottom-content span {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.bottom-content .settings i {
    cursor: pointer;
}
.settings {
    position: relative;
}
.settings .menu {
    transform-origin: bottom right;
    transform: scale(0);
    position: absolute;
    bottom: 0;
    padding: 0.4rem 0;
    border-radius: 0.5rem;
    border: var(--storke);
    background-color: var(--main2);
}
.settings.show .menu {
    transform: scale(1);
}
.settings .menu li {
    color: var(--main);
    border: none;
    border-radius: 0;
    font-size: 1rem;
    height: 1rem;
    justify-content: flex-start;
    cursor: pointer;
    padding: 1rem;
}
.settings i {
    color:var(--main);
    position: relative;
    bottom: -0.35rem;
}
.settings li i {
    font-size: 1.2rem;
    bottom: -0.05rem;
}
.menu li i {
    padding-right: 0.5rem;
}

.popup-box {
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
}
.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width:22rem;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 3;
    justify-content: center;
}
.popup-box, .popup-box .popup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
}
.popup .content {
    width: calc(100% - 1rem);
    border-radius: 0.5rem;
    border: var(--storke);
    background-color: var(--main2);
}
.popup .content header {
    border-bottom: var(--storke);
    padding: 1rem 1.2rem;
}
.content header p{
    font-size: 1.3rem;
}
.content header i{
    cursor: pointer;
    font-size: 1.6rem;
}
.content form{
    margin: 1rem 1.2rem;
}
.content form .row{
    margin-bottom: 1rem;
}
form .row label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.content form :where(input, textarea){
    width: 100%;
    background-color: rgba(0,0,0,0);
    border-radius: 0.2rem;
    height: 2.5rem;
    padding: 0 0.5rem;
    outline: none;
    font-size: 1rem;
    border: var(--storke);
}
.content form textarea {
    height: 7rem;
    resize: none;
    padding: 0.5rem 0.5rem;
}
.content form button {
    font-weight: 500;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 2.4rem;
    outline: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    border: var(--storke);
    margin-bottom: 0.3rem;
}